<div>

<form action="/emps" method="post">
<fieldset>
<lable>employee name:</lable><input type="text" name="name"  placeholder="entername"><br>
<lable>employee email:</lable><input type="text" name="email"  placeholder="enteremail"><br>
<lable>employee salary:</lable><input type="text" name="salary"  placeholder="entersalary"><br>
<lable>employee address:</lable><input type="text" name="addres"  placeholder="enteraddres"><br>
<input type ="submit" class="button" name="add" value="add">
</fieldset>
</form>

</div>